/* /client/src/css/content.css */

.content {
  width: 100%;
  background: var(--color-surface1);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  padding: 1rem 0 2rem;
}

.content__container--grid-view {
  display: grid;
  width: 100%;
  background: var(--color-surface1);
  grid-template-columns: repeat(auto-fill, var(--width-card));
  gap: var(--margin-section-min) 2.5rem;
  justify-content: center;
}
